<%= stylesheet_link_tag "tables", :media => "all" %>

<style> li { list-style-type: none; } </style>

<section>
   <div class="table-wrapper">
      <div style="fl-table" >
         <canvas id="chart-0" height="300"></canvas>
      </div>
   </div>
</section>

<script type="text/javascript" >
      var data = <%=@data.to_json.html_safe %> ;
      var opts = <%=@options.to_json.html_safe %>; 
      var ctx = document.getElementById("chart-0").getContext("2d");
      var chart = new Chart(ctx , { type: 'bar' ,  data: data , options: opts } );
</script>

<section>
  <div class="table-wrapper">
    <table class="fl-table ">
      <thead>
	 <tr>
           <th >Run</th>
           <th >Message</th>
           <th >Author</th>
           <th >Last Ran</th>
           <th >State</th>
           <th >Took</th>
	 </tr>
      </thead>
    <% @workflows.each do |workflow| %>
      <tbody>
	<tr>
            <td ><%= workflow[:run_number]  %></td>
            <td ><%= workflow[:message]  %></td>
            <td ><%= workflow[:author]   %></td>
            <td ><%= workflow[:last_run] %></td>
            <td ><%= workflow[:state]    %></td>
            <td ><%= workflow[:took]     %></td>
         </tr>
    <% end %>
      </tbody>
    </table>
  </div>
      <%= pagy_bulma_nav( @pagy).html_safe %> 
</section>
